.about {
  display: flex;
  flex-direction: row;
  align-items: center;
  text-align: center;
  background-color: #ffffff;
  padding-top: 15rem;
}

.img-about {
  height: 40rem;
  width: 30rem;
  justify-content: center;
  float: left;
  margin-right: 1rem;
}

.about-me {
  color: #147efb;
  font-size: 1.7rem;
  font-weight: 700;
  margin-bottom: 1rem;
  text-transform: uppercase;
  text-align: center;
}

.text-side-p {
  font-family: sans-serif;
  font-size: 1.5rem;
  font-weight: 500;
  line-height: 1.5;
  margin: 10%;
}

@media (max-width: 1250px) and (min-width: 768px) {
  .text-side-p {
    margin-right: 0;
    margin-left: 0;
  }
}

@media (max-width: 1100px) and (min-width: 768px) {
  .about {
    display: flex;
    flex-direction: column;
  }

  .img-about {
    justify-content: center;
    float: unset;
  }
}

@media (max-width: 768px) {
  .about {
    flex-direction: column;
    padding-top: 8rem;
  }

  .img-about {
    height: 50vh;
    width: 100vw;
    max-width: 25rem;
    margin: 1px;
    margin-bottom: 1.5rem;
    float: none;
  }

  .text-side-p {
    font-size: 1.3rem;
  }
}