@import url('https://fonts.googleapis.com/css2?family=Lato:wght@400;700;900&family=Montserrat:wght@500;600;700&display=swap');

strong {
  color: #147EFB;
}

.about {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  background-color: #ffffff;
  padding: 5rem 1rem;
}

.container-about {
  display: flex;
  flex-direction: column;
  align-items: center;
  max-width: 800px; /* Reduz a largura máxima para melhorar a legibilidade */
  width: 100%;
  gap: 20px;
}

.img-about {
  width: auto;
  max-width: 100%; /* Garante que a imagem não ultrapasse a largura do container */
  height: auto;
  margin-bottom: 2rem;
}

.about-me {
  color: #147efb;
  font-size: 2rem;
  font-weight: 700;
  margin: 0;
  text-transform: uppercase;
  font-family: 'Montserrat', sans-serif;
}

.text-side-p {
  font-family: 'Lato', sans-serif;
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.6;
  margin: 0 10%;
  padding: 0 1rem;
  text-align: justify;
}

.App.dark-theme .about {
  background-color: #222222;
  color: #ffffff;
}

@media (min-width: 768px) {
  .about {
    flex-direction: column; /* Altera para coluna em telas maiores */
    padding: 5rem;
  }

  .container-about {
    align-items: center;
    max-width: 600px; /* Reduz ainda mais a largura máxima para melhorar a legibilidade */
  }

  .img-about {
    max-width: 80%; /* Reduz um pouco a largura da imagem para não dominar a tela */
    margin-bottom: 2rem;
  }

  .text-side-p {
    font-size: 1.3rem;
    max-width: 100%; /* Garante que o texto não ultrapasse a largura do container */
    margin: 0; /* Remove margem externa */
  }
}
