/* Footer.css */
#footer {
  background-color: #333;
  color: white;
  padding: 20px 0;
}

.container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.footerrc {
  text-align: left;
}

.footerrc h3 {
  margin: 0;
}

.footerrc-social {
  text-align: right;
}

.footerrc-social a {
  margin-left: 10px;
}

.footerrc-social a:first-child {
  margin-left: 0;
}

.social-icon:hover {
  opacity: 0.7;
}

.App.dark-theme #footer {
  background-color: #181A1B; /* Fundo escuro para a seção de contato no tema escuro */
  color: #ffffff; /* Texto branco no tema escuro */
}


@media (max-width: 768px) {
  .container {
    margin: 0;
  }
}
