@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;600;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lato:wght@900&display=swap');

body {
  background: #272727;
  font-family: 'Lato', sans-serif;
  background-color: #ffffff;
}

.fixed {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
}

.navMenu ul {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: flex-start;
  padding: 0;
  background-color: #ffffff;
  margin-top: auto;
}

.navMenu li {
  padding: 1.2rem;
  list-style: none;
}

.navMenu a {
  color: #2d2e32;
  text-decoration: none;
  font-size: 1.2em;
  text-transform: uppercase;
  font-weight: 500;
  display: flex;
  align-items: center;
  -webkit-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;
}

.navMenu a:hover {
  color: #147efb;
}

.menu-toggle {
  display: none;
}

@media (max-width: 552px) {
  .navMenu li {
    padding: .4rem;
  }

  .menu-toggle {
    display: flex;
    background: none;
    border: none;
    cursor: pointer;
  }

  .hamburguer-icon {
    display: block;
    width: 30px;
    height: 3px;
    background: #000;
    margin: 6px;
  }

  .menu-list {
    display: none;
  }

  .menu-list.active {
    display: block;
  }
}
  