@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@500;600;700&display=swap');

.navbar {
  background-color: #ffffff;
  display: flex;
  justify-content: center;
  align-items: center;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
}

.menu-toggle {
  display: none;
}

.menu-list {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding: 0;
  list-style: none;
}

.menu-list li {
  padding: 1.2rem;
}

.menu-list a {
  color: #2d2e32;
  text-decoration: none;
  font-family: 'Montserrat', sans-serif;
  font-size: 1.2em;
  text-transform: uppercase;
  font-weight: 500;
  display: flex;
  align-items: center;
  transition: color 0.2s ease-in-out;
}

.menu-list a:hover {
  color: #147efb;
}

.menu-list a:focus {
  outline: none;
}

.menu-list a:focus ~ .menu-toggle {
  display: none;
}

.buttons-container {
  display: flex;
  align-items: center;
}

.theme-toggle-container {
  margin-left: auto;
}

.theme-toggle-container button {
  cursor: pointer;
  border: none;
  background-color: transparent;
}

.App.dark-theme .navbar {
  background-color: #222222; 
  color: #ffffff; 
}

.App.dark-theme .menu-toggle{
  color: #ffffff;
}

.App.dark-theme .darkmode {
  color: #ffffff;
}

@media (max-width: 768px) {
  .menu-toggle {
    display: block;
    position: absolute;
    top: 0.8rem;
    left: 0.7rem;
    background-color: transparent;
    border: none;
    cursor: pointer;
    z-index: 999;
  }

  .menu-list {
    flex-direction: column;
    align-items: center;
    display: none;
    width: 100%;
    text-align: center;
  }

  .menu-list.open {
    display: flex;
  }

  .menu-list li {
    padding: 1rem;
    border-bottom: 1px solid #ffffff;
  }

  .theme-toggle-container {
    display: block;
    position: absolute;
    top: 0.8rem;
    right: 0.7rem;
    background-color: transparent;
    border: none;
  }
}